# Dependências
node_modules/

# Build
dist/
build/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads temporários
tmp/
uploads/

# Cache
.cache/
